# compiled output
/dist
**/node_modules/
**/dist/
**/build/
**/package/
coverage/
tsconfig.*buildinfo
tests/temp.spec.ts

packages/proto/src/
!packages/proto/src/index.ts

# IntelliJ
.idea
*.ipr
*.iml
*.iws
ddc-test-cluster/volumes
