{
  "extends": ["@cere-ddc-sdk/eslint-config", "plugin:react-hooks/recommended"],
  "env": { "browser": true, "es2020": true }, 
  "ignorePatterns": ["dist"],
  "plugins": ["react-refresh"],
  "rules": {
    "react-refresh/only-export-components": ["warn", { "allowConstantExport": true }]
  }
}
